<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Activiti Workflow</title>
    <link rel="icon" type="image/ico" href="../favicon.ico">

    <!-- build:css styles/3thparty.css -->
    <link href="../styles/common/bootstrap.min.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:css styles/style.css -->
    <link href="../styles/common/style.css" rel="stylesheet">
    <link href="../styles/common/style-retina.css" rel="stylesheet">
    <link href="styles/style-workflow.css" rel="stylesheet">
    <link rel="stylesheet" href="../libs/angular-loading-bar-0.7.0/loading-bar.min.css" />
    <!-- endbuild -->
    
    <link rel="Stylesheet" href="../libs/ui-grid_3.0.0/ui-grid.css" type="text/css"/>
</head>
<body ng-app="activitiApp" ng-cloak>
    <div class="navbar navbar-fixed-top navbar-inverse" ng-show="!root.headless" role="navigation" id="main-nav">
        <div class="fixed-container">
            <div class="navbar-header">
                <a ng-click="backToLanding()" class="landing-logo" ng-if="account != null && account != undefined" title="{{'GENERAL.MAIN-TITLE' | translate}}">
                    <img ng-if="account.tenantPictureId && account.tenantId"
                         ng-src="{{restRootUrl()}}/app/rest/tenants/{{account.tenantId}}/logo">

                    <img ng-if="!account.tenantPictureId" ng-src="{{appResourceRoot}}../images/logo-2x.png">
                </a>
                <ul class="nav navbar-nav" ng-show="authenticationChecked">
                    <li ng-repeat="item in mainNavigation" ng-show="(authenticated && !item.unauthenticated) || (item.unauthenticated && !authenticated)" ng-class="{'active': item.id == mainPage.id}">
                        <a ng-click="setMainPage(item)">{{item.title | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="pull-right {{activeAppDefinition.theme}}" ng-class="{'app-indicator': activeAppDefinition.theme}" ng-show="authenticated" ng-cloack>
                <span ng-if="activeAppDefinition.theme">
                    {{activeAppDefinition.name}}
                </span>
                <i class="glyphicon {{activeAppDefinition.icon}}"></i>
                <div class="dropdown btn-group btn-group-sm">
                    <span ng-translate-language-select ></span> 
                    <div class="dropdown btn-group btn-group-sm">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">{{account.firstName}} {{account.lastName}}
                            <span class="glyphicon glyphicon-chevron-down" style="font-size: 10px" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a ng-click="logout()" translate="GENERAL.ACTION.LOGOUT"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--[if lt IE 9]>
    <div class="unsupported-browser">
        <p class="alert error">You are using an unsupported browser. Please upgrade your browser in order to use the
            editor.</p>
    </div>
    <![endif]-->
    <!--[if IE 9]>
    <div id="no-flash-message" class="unsupported-browser" style="display: none">
        <p class="alert error">No Adobe Flash installed. Please install Adobe Flash in order to use the file upload capabilities on this version of Internet Explorer.</p>
    </div>
    <script>
        var hasFlash = false;
        try {
            hasFlash = Boolean(new ActiveXObject('ShockwaveFlash.ShockwaveFlash'));
        } catch(exception) {
            hasFlash = ('undefined' != typeof navigator.mimeTypes['application/x-shockwave-flash']);
        }
        if (!hasFlash) {
            var showNoFlashMessage = function () {
                var element = document.getElementById('no-flash-message');
                element.style.display="block";
            };
            showNoFlashMessage();
        }
    </script>
    <![endif]-->
    <div class="alert-wrapper" ng-cloak ng-class="{'no-header' : root.headless}">
        <div class="alert {{alerts.current.type}}" ng-show="alerts.current" ng-click="dismissAlert()">
            <span>{{alerts.current.message}}</span>
            <span class="badge" ng-show="alerts.queue.length">{{alerts.queue.length + 1}}</span>
        </div>
    </div>

    <div class="wrapper clearfix" ng-class="{'no-header' : root.headless}" ng-view="" ng-cloak ng-style="{height: window.height + 'px'}">
    </div>

    <!--[if lt IE 9]>
    <script src="../libs/es5-shim-15.3.4.5/es5-shim.js"></script>
    <script src="../libs/json3_3.2.6/lib/json3.min.js"></script>
    <![endif]-->

    <!-- 3rd party libs -->
    <script src="../libs/jquery_1.11.0/jquery.min.js"></script>
    <script src="../libs/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="../libs/angular_1.3.13/angular.min.js"></script>
    <script src="../libs/angular-animate_1.3.13/angular-animate.min.js"></script>
    <script src="../libs/bootstrap_3.1.1/js/bootstrap.min.js"></script>
    <script src="../libs/angular-resource_1.3.13/angular-resource.min.js"></script>
    <script src="../libs/angular-cookies_1.3.13/angular-cookies.min.js"></script>
    <script src="../libs/angular-sanitize_1.3.13/angular-sanitize.min.js"></script>
    <script src="../libs/angular-route_1.3.13/angular-route.min.js"></script>
    <script src="../libs/angular-translate_2.4.2/angular-translate.min.js"></script>
    <script src="../libs/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="../libs/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="../libs/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script src="../libs/angular-strap_2.1.6/angular-strap.min.js"></script>
    <script src="../libs/angular-strap_2.1.6/angular-strap.tpl.min.js"></script>
    <script src="../libs/angular-dragdrop_1.0.11/angular-dragdrop.min.js"></script>
    <script src="../libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="../libs/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="../libs/momentjs_2.11.1/moment.min.js"></script>
    <script src="../libs/momentjs_2.11.1/locale/ru.js"></script>
    <script src="../libs/ui-grid_3.0.0/ui-grid.js" type="text/javascript"></script>
    <script src="../libs/angular-loading-bar-0.7.0/loading-bar.min.js"></script>
    <script src="../libs/angular-hotkeys_1.4.5/hotkeys--activiti-patch.js"></script>

    <!-- Configuration -->
    <script src="../scripts/app-cfg.js?v=2"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/workflow-app.js"></script>
    <script src="scripts/services/comment-service.js"></script>
    <script src="scripts/services/process-service.js"></script>
    <script src="scripts/services/task-service.js"></script>
    <script src="scripts/services/form-service.js"></script>
    <script src="scripts/services/app-definition-service.js"></script>
    <script src="scripts/services/locale-service.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/controllers/document-preview.js"></script>
    <script src="scripts/controllers/tasks.js"></script>
    <script src="scripts/controllers/task.js"></script>
    <script src="scripts/controllers/processes.js"></script>
    <script src="scripts/controllers/process.js"></script>
    <script src="scripts/controllers/render-form.js"></script>
    <script src="scripts/controllers/start-form.js"></script>
    <script src="scripts/controllers/start-process.js"></script>
    <script src="scripts/workflow-directives.js"></script>

    <script src="../scripts/common/services/authentication-service.js"></script>
	<script src="../scripts/common/services/user-service.js"></script>
	<script src="../scripts/common/services/functional-group-service.js"></script>
	<script src="../scripts/common/services/customer-service.js"></script>
	<script src="../scripts/common/services/related-content-service.js"></script>
    <script src="../scripts/common/services/runtime-app-definition-service.js"></script>
    <script src="../scripts/common/directives.js"></script>
    <script src="../scripts/common/providers-config.js"></script>
    <script src="../scripts/common/services/resource-service.js"></script>
    <script src="../scripts/common/services/recursion-helper.js"></script>

    <script src="../scripts/common/controllers/about.js"></script>
    <!-- endbuild -->

    <!-- Integration extensions -->
    <script src="../scripts/resource-loader.js?v=2" app="workflow"></script>

</body>
</html>
