<div ng-if="field != null && field != undefined"
     ng-switch="field.type">

    <div ng-switch-when="text" class="form-group" ng-show="field.isVisible" ng-class="{'has-error': field.required && isEmpty(field)}">
        <label class="control-label">{{field.name}}</label>
        <span class="marker" ng-if="field.required">*</span>
        <input id="{{activitiFieldIdPrefix + field.id}}" type="text" name="{{field.id}}" class="form-control" placeholder="{{field.placeholder}}" ng-model="field.value" ng-change="onFieldValueChange(field)" ng-blur="onFieldBlur(field)" ng-focus="onFieldFocus(field)" ng-required="field.required">
    </div>

    <div ng-switch-when="multi-line-text" class="form-group" ng-show="field.isVisible" ng-class="{'has-error': field.required && isEmpty(field)}">
        <label class="control-label">{{field.name}}</label>
        <span class="marker" ng-if="field.required">*</span>
        <textarea id="{{activitiFieldIdPrefix + field.id}}" name="{{field.id}}" class="form-control" placeholder="{{field.placeholder}}" ng-model="field.value" ng-change="onFieldValueChange(field)" ng-blur="onFieldBlur(field)" ng-focus="onFieldFocus(field)" ng-required="field.required"></textarea>
    </div>

    <div ng-switch-when="integer" class="form-group" ng-show="field.isVisible" ng-class="{'has-error': field.required && isEmpty(field)}">
        <label class="control-label">{{field.name}}</label>
        <span class="marker" ng-if="field.required">*</span>
        <input id="{{activitiFieldIdPrefix + field.id}}" type="text" name="{{field.id}}" class="form-control" placeholder="{{field.placeholder}}" ng-model="field.value" ng-change="onFieldValueChange(field)" ng-blur="onFieldBlur(field)" ng-focus="onFieldFocus(field)" number-input-check ng-required="field.required">
    </div>

    <div ng-switch-when="date" class="form-group" ng-show="field.isVisible" ng-class="{'has-error': field.required && isEmpty(field)}">
        <label class="control-label"><i class="glyphicon glyphicon-calendar"></i> {{field.name}}</label>
        <span class="marker" ng-if="field.required">*</span>
        <span class="control-label" ng-if="field.acceptedFormat">({{field.acceptedFormat}})</span>
        <input id="{{activitiFieldIdPrefix + field.id}}" name="{{field.id}}" type="text" class="form-control" placeholder="{{field.placeholder}}" ng-model="field.value" ng-change="onFieldValueChange(field)" bs-datepicker restrict-input template="{{appResourceRoot}}views/templates/date-picker-template.html" data-container="body" data-date-format="d-M-yyyy" trigger="focus" autoclose="true" ng-required="field.required">
    </div>

    <div ng-switch-when="boolean" class="form-group" ng-show="field.isVisible" ng-class="{'has-error': field.required && isEmpty(field)}">
        <label class="control-label" style="cursor: pointer;">
            <input id="{{activitiFieldIdPrefix + field.id}}" type="checkbox" name="{{field.id}}" ng-model="field.value" ng-change="onFieldValueChange(field)" ng-blur="onFieldBlur(field)" ng-focus="onFieldFocus(field)" ng-required="field.required"> <span>{{field.name}}</span>
            <span class="marker" ng-if="field.required">*</span>
        </label>
    </div>

    <div ng-switch-when="dropdown" class="form-group" ng-show="field.isVisible" ng-class="{'has-error': field.required && isEmptyDropdown(field)}">
        <label class="control-label">{{field.name}}</label>
        <span class="marker" ng-if="field.required">*</span>
        <select id="{{activitiFieldIdPrefix + field.id}}" class="form-control" name="{{field.id}}"
                ng-options="option.name for option in field.options" ng-model="field.value" ng-change="onFieldValueChange(field)" ng-blur="onFieldBlur(field)" ng-focus="onFieldFocus(field)" ng-required="field.required">
            <option style="display:none" value="">{{field.placeholder}}</option>
        </select>
    </div>

    <div ng-switch-when="radio-buttons" class="form-group" ng-if="field.isVisible" ng-class="{'has-error': field.required && isEmpty(field)}">
        <div>
            <label class="control-label">{{field.name}}</label>
            <span class="marker" ng-if="field.required">*</span>
        </div>
        <div id="{{activitiFieldIdPrefix + field.id}}">
            <div ng-repeat="option in field.options" class="radio">
                <label class="control-label">
                    <input id="{{activitiFieldIdPrefix + field.id}}_{{$index}}" type="radio"
                           value="{{option.name}}"
                           name="{{field.id}}"
                           ng-required="field.required"
                           ng-model="field.value"
                           ng-change="onFieldValueChange(field)">
                    {{option.name}}
                    </input>
                </label>
            </div>
        </div>
    </div>

    <div ng-switch-when="people" class="form-group" ng-show="field.isVisible" ng-class="{'has-error': field.required && isEmpty(field)}">
        <label class="control-label">{{field.name}}</label>
        <span class="marker" ng-if="field.required">*</span>
        <div id="{{activitiFieldIdPrefix + field.id}}" class="people-select">
            <ul class="simple-list">
                <li class="action" select-people-popover popover-title="{{field.name}}" placement="bottom-left" on-people-selected="fieldPersonSelected(user, field)"
                    on-email-selected="fieldPersonEmailSelected(email, field)" restrict-with-group="field.params.restrictWithGroup" ng-required="field.required">
                    <div ng-if="field.value && field.value.id" user-picture="field.value"></div>
                    <span ng-if="!field.value && !field.placeholder" translate="FORM.MESSAGE.SELECT-PERSON"></span>
                    <span ng-if="!field.value && field.placeholder" translate="{{field.placeholder}}"></span>
                    <div ng-if="field.value && field.value.id" user-link="field.value"></div>
                    <span ng-if="field.value && !field.value.id">{{field.value}}</span>
                    <div class="actions" ng-if="field.value">
                        <a ng-click="fieldPersonRemoved(field.value, field)"><i class="icon icon-remove"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div ng-switch-when="functional-group" class="form-group" ng-show="field.isVisible" ng-class="{'has-error': field.required &&  isEmpty(field)}">
        <label class="control-label">{{field.name}}</label>
        <span class="marker" ng-if="field.required">*</span>
        <div id="{{activitiFieldIdPrefix + field.id}}" class="people-select">
            <ul class="simple-list">
                <li class="action" select-functional-group-popover popover-title="{{field.name}}" placement="bottom-left"
                    on-group-selected="fieldGroupSelected(group, field)" restrict-with-group="field.params.restrictWithGroup">
                    <span ng-if="!field.value && !field.placeholder" translate="FORM.MESSAGE.SELECT-GROUP"></span>
                    <span ng-if="!field.value && field.placeholder" translate="{{field.placeholder}}"></span>
                    <div>{{field.value.name}}</div>
                    <div class="actions"  ng-if="field.value">
                        <a ng-click="fieldGroupRemoved(field.value, field)"><i class="icon icon-remove"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div ng-switch-when="customers" class="form-group" ng-show="field.isVisible" ng-class="{'has-error': field.required && isEmpty(field)}">
        <label class="control-label">{{field.name}}</label>
        <span class="marker" ng-if="field.required">*</span>
        <div id="{{activitiFieldIdPrefix + field.id}}" class="people-select">
            <ul class="simple-list">
                <li class="action" select-customer-popover popover-title="{{field.name}}" 
                    placement="bottom-left" on-customer-selected="fieldCustomerSelected(customer, field)"
                    on-email-selected="fieldCustomerEmailSelected(email, field)" 
                    restrict-with-group="field.params.restrictWithGroup" 
                    email-mode-disabled="true"
                    ng-required="field.required">
                    <div ng-if="field.value && field.value.id" user-picture="field.value" class="customer-picture"></div>
                    <span ng-if="!field.value && !field.placeholder" translate="FORM.MESSAGE.SELECT-CUSTOMER"></span>
                    <span ng-if="!field.value && field.placeholder" translate="{{field.placeholder}}"></span>
                    <div ng-if="field.value && field.value.id" user-link="field.value"></div>
                    <span ng-if="field.value && !field.value.id">{{field.value}}</span>
                    <div class="actions" ng-if="field.value">
                        <a ng-click="fieldCustomerRemoved(field.value, field)"><i class="icon icon-remove"></i></a>
                    </div> 
                </li>
            </ul>
        </div>
    </div>


    <div ng-switch-when="upload" class="form-group" ng-class="{'has-error' : field.required && isEmpty(field)}" ng-show="field.isVisible">
        <label class="control-label">{{field.name}}</label>
        <span class="marker" ng-if="field.required">*</span>
        <ul class="simple-list" ng-show="model.uploads[field.id].length > 0">
            <li ng-repeat="content in model.uploads[field.id]">
                <i class="icon icon-{{content.simpleType}}"></i>
                {{content.name}}
                <div class="actions">
                    <a ng-click="removeContent(content, field)"><i class="icon icon-remove"></i></a>
                </div>
            </li>
        </ul>
        <div id="{{activitiFieldIdPrefix + field.id}}" external-content link-only="field.params.link" on-content-upload="contentUploaded(content, field)" on-upload-in-progress="uploadInProgress(status)" ng-show="field.params.multiple || (!field.params.multiple && model.uploads[field.id].length != 1)"></div>
    </div>


    <div ng-switch-when="readonly">
<!--        <div>Readonly Field type: {{field.params.field.type}} </div>-->
        <div ng-switch="field.params.field.type">
            <div ng-switch-when="boolean" ng-show="field.isVisible">
                <label class="checkbox">
                    <input type="checkbox" class="checkbox" ng-checked="{{field.value}}" disabled />
                    {{field.name}}
                </label>
            </div>

			<div ng-switch-when="people" ng-show="field.isVisible">
                <label class="control-label">{{field.name}}</label>
                <span ng-if="!field.value" translate="FORM.MESSAGE.EMPTY"></span>
                <ul class="simple-list" ng-if="field.value">
                    <li>
                        <div user-picture="field.value"></div>
                        <div user-link="field.value"></div>
                    </li>
                </ul>
            </div>
            <div ng-switch-when="functional-group" ng-show="field.isVisible">
                <label class="control-label">{{field.name}}</label>
                <span ng-if="!field.value" translate="FORM.MESSAGE.EMPTY"></span>
                <ul class="simple-list" ng-if="field.value && field.value.name">
                    <li>
                        <div>{{field.value.name}}</div>
                    </li>
                </ul>
            </div>
            <div ng-switch-when="customers" ng-show="field.isVisible">
                <label class="control-label">{{field.name}}</label>
                <span ng-if="!field.value" translate="FORM.MESSAGE.EMPTY"></span>
                <ul class="simple-list" ng-if="field.value">
                    <li>
                        <div user-picture="field.value" class="customer-picture"></div>
                        <div customer-link="field.value"></div>
                    </li>
                </ul>
<!--                <div>{{field.value.fullname}} Status: {{field.value.status}} Created: {{field.value.created | date }}</div>  -->
            </div>
            <div ng-switch-when="upload" ng-show="field.isVisible">
                <label class="control-label">{{field.name}}</label>
                <span ng-if="!field.value || field.value.length == 0" translate="FORM.MESSAGE.EMPTY"></span>
                <ul class="simple-list selectable content-list">
                    <li ng-repeat="content in field.value" title="{{content.name}}">
                        <document-preview content="content" editable="field.params.documentsEditable" read-only="true"></document-preview>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div ng-switch-when="radio-buttons" class="form-group" ng-show="field.isVisible">
                <label class="control-label">{{field.name}}</label>
                <div class="well well-sm">
                    {{field.value && field.value || ('FORM.MESSAGE.EMPTY' | translate)}}
                </div>
            </div>

            <div ng-switch-when="multi-line-text" class="form-group" ng-show="field.isVisible">
                <label class="control-label">{{field.name}}</label>
                <textarea class="form-control" readonly>{{field.value && field.value || ('FORM.MESSAGE.EMPTY' | translate)}}</textarea>
            </div>

            <div ng-switch-default ng-show="field.isVisible">
                <label class="control-label">{{field.name}}</label>
                <div class="well well-sm">
                    {{field.value && field.value || ('FORM.MESSAGE.EMPTY' | translate)}}
                    {{field.value.fullname}}
                </div>
            </div>
        </div>
    </div>

    <div ng-switch-when="readonly-text" class="form-group" ng-show="field.isVisible">
        <p ng-bind-html="field.value" ng-click="handleReadonlyClick($event, field)"></p>
    </div>

    <div ng-switch-default>
        Unknown field type: {{field.type}}
    </div>
</div>
