<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Activiti Identity Management</title>
      <meta name="viewport" content="width=device-width">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <link rel="icon" type="image/ico" href="../favicon.ico">

      <!-- build:css styles/3thparty.css -->
      <link href="../styles/common/bootstrap.min.css" rel="stylesheet">
      <link href="../libs/bootstrap-daterangepicker_1.3.7/daterangepicker-bs3.css" rel="stylesheet">
      <!-- endbuild -->

      <!-- build:css styles/style.css -->
      <link href="../styles/common/style.css" rel="stylesheet">
      <link href="../styles/common/style-retina.css" rel="stylesheet">
      <link href="styles/style-idm.css" rel="stylesheet">
      <!-- endbuild -->

      <link rel="Stylesheet" href="../libs/ui-grid_3.0.0/ui-grid.min.css" type="text/css"/>
  </head>
  <body ng-app="activitiApp" ng-cloak>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--[if IE 9]>
    <div id="no-flash-message" class="unsupported-browser" style="display: none">
      <p class="alert error">No Adobe Flash installed. Please install Adobe Flash in order to use the file upload capabilities on this version of Internet Explorer.</p>
    </div>
    <script>
      var hasFlash = false;
      try {
          hasFlash = Boolean(new ActiveXObject('ShockwaveFlash.ShockwaveFlash'));
      } catch(exception) {
          hasFlash = ('undefined' != typeof navigator.mimeTypes['application/x-shockwave-flash']);
      }
      if (!hasFlash) {
          var showNoFlashMessage = function () {
              var element = document.getElementById('no-flash-message');
              element.style.display="block";
          };
          showNoFlashMessage();
      }
    </script>
    <![endif]-->

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation" id="main-nav" ng-show="authenticated">
        <div class="fixed-container">
            <div class="navbar-header">
                <a ng-click="backToLanding()" class="landing-logo" ng-if="account != null && account != undefined" title="{{'IDM.GENERAL.MAIN-TITLE' | translate}}">
                    <img ng-if="account.tenantPictureId && account.tenantId"
                         ng-src="{{restRootUrl()}}/app/rest/tenants/{{account.tenantId}}/logo">

                    <img ng-if="!account.tenantPictureId" ng-src="{{appResourceRoot}}../images/logo-2x.png">
                </a>
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in mainNavigation"
                        id="{{item.id}}"
                        ng-show="item.isVisible() && (authenticated && !item.unauthenticated) || (item.unauthenticated && !authenticated)"
                        ng-class="{'active': item.id == mainPage.id}">
                        <a ng-click="setMainPage(item)">{{item.title | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="pull-right">
                <div class="dropdown btn-group btn-group-sm">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{account.firstName}} {{account.lastName}}
                        <span class="glyphicon glyphicon-chevron-down" style="font-size: 10px" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a ng-click="logout()" translate="IDM.GENERAL.ACTION.LOGOUT"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper clearfix" ng-view="" ng-cloak ng-style="{height: window.height + 'px'}">
    </div>

    <!--[if lt IE 9]>
    <script src="../libs/es5-shim-15.3.4.5/es5-shim.js"></script>
    <script src="../libs/json3_3.2.6/lib/json3.min.js"></script>
    <![endif]-->

    <script src="../libs/jquery_1.11.0/jquery.min.js"></script>
    <script src="../libs/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="../libs/angular_1.3.13/angular.min.js"></script>
    <script src="../libs/angular-animate_1.3.13/angular-animate.min.js"></script>
    <script src="../libs/bootstrap_3.1.1/js/bootstrap.min.js"></script>
    <script src="../libs/angular-resource_1.3.13/angular-resource.min.js"></script>
    <script src="../libs/angular-cookies_1.3.13/angular-cookies.min.js"></script>
    <script src="../libs/angular-sanitize_1.3.13/angular-sanitize.min.js"></script>
    <script src="../libs/angular-route_1.3.13/angular-route.min.js"></script>
    <script src="../libs/angular-translate_2.4.2/angular-translate.min.js"></script>
    <script src="../libs/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="../libs/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="../libs/momentjs_2.11.1/moment.min.js"></script>
    <script src="../libs/angular-strap_2.1.6/angular-strap.min.js"></script>
    <script src="../libs/angular-strap_2.1.6/angular-strap.tpl.min.js"></script>
    <script src="../libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="../libs/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="../libs/ui-grid_3.0.0/ui-grid.min.js" type="text/javascript"></script>

    <!-- Configuration -->
    <script src="../scripts/app-cfg.js?v=2"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/idm-app.js"></script>
    <script src="scripts/idm-service.js"></script>
    <script src="scripts/idm-user-mgmt-controller.js"></script>
    <script src="scripts/idm-functional-group-mgmt-controller.js"></script>
    <script src="scripts/idm-profile-mgmt-controller.js"></script>
    <script src="../scripts/common/services/user-service.js"></script>
    <script src="../scripts/common/services/authentication-service.js"></script>
    <script src="../scripts/common/directives.js"></script>
    <script src="../scripts/common/providers-config.js"></script>
    <script src="../scripts/common/services/runtime-app-definition-service.js"></script>
    <script src="../scripts/common/services/functional-group-service.js"></script>
    <script src="../scripts/common/controllers/about.js"></script>
    <!-- endbuild -->

    <!-- Integration extensions -->
    <script src="../scripts/resource-loader.js?v=2" app="idm"></script>

  </body>
</html>
