<div class="modal">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{{'FORM-BUILDER.POPUP.EDIT-TITLE' | translate: formElement}}</h2>
            </div>
            <div class="modal-body">
                <div class="center-pane">
                    <div class="content">
                        <div class="clearfix">
                            <ul class="tabs clearfix">
                                <li ng-repeat="tab in formTabs" ng-class="{'active': tab.id == activeTab.id}"
                                    ng-if="!tab.show || tab.show.indexOf(formElement.type) >= 0">
                                    <a ng-click="tabClicked(tab)">{{tab.title && (tab.title | translate) || tab.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="activeTab.id == 'general'">
                    <label translate="FORM-BUILDER.COMPONENT.LABEL" ng-show="formElement.type != 'readonly-text'"></label>
                    <label translate="FORM-BUILDER.COMPONENT.NAME" ng-show="formElement.type == 'readonly-text'"></label>
                    <input type="text" class="form-control" ng-model="formElement.name"
                           ng-change="formElementNameChanged(formElement)" auto-focus>
                </div>

                <div class="clearfix" ng-if="activeTab.id == 'general' && formElement.type != 'readonly'">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="formElement.overrideId">
                                {{'FORM-BUILDER.COMPONENT.OVERRIDEID' | translate}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label translate="FORM-BUILDER.COMPONENT.ID"></label>
                        <input type="text" class="form-control" ng-model="formElement.id" ng-disabled="!formElement.overrideId" editor-input-check>
                    </div>

                    <div ng-show="formElement.type !== 'readonly' && formElement.type !== 'readonly-text'">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="formElement.required">
                                    {{'FORM-BUILDER.COMPONENT.REQUIRED' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div ng-show="formElement.type === 'functional-group' || formElement.type === 'people' || formElement.type === 'customers' ||formElement.type === 'dropdown' || formElement.type === 'date' || formElement.type === 'text' || formElement.type === 'multi-line-text' || formElement.type === 'integer'">
                        <label translate="FORM-BUILDER.COMPONENT.PLACEHOLDER"></label>
                        <input type="text" class="form-control" ng-model="formElement.placeholder">
                    </div>
                </div>

                <div ng-if="(activeTab.id == 'options') && (formElement.type === 'radio-buttons' || formElement.type === 'dropdown')">

                    <div class="form-group">
                        <label translate="FORM-BUILDER.COMPONENT.OPTIONS"></label>

                        <div>
                            <div ng-repeat="option in formElement.options" style="margin-bottom: 5px" class="input-group">
                                <div class="input-group-addon">
                                    <input type="radio" ng-model="formElement.value" ng-value="option.name">
                                </div>

                                <input id="firstDropdownOption" type="text" class="form-control" ng-if="$index == 0" ng-model="option.name" style="background-color: #E6E6E6;">
                                <input type="text" class="form-control" ng-if="$index > 0" ng-model="option.name">

                                <a class="input-group-addon" ng-if="$index == 0"
                                   data-placement="left" data-type="info" data-animation="am-fade-and-scale" bs-tooltip="'FORM-BUILDER.COMPONENT.DROPDOWN-EMPTY-VALUE-HELP'|translate">
                                    <i class="glyphicon glyphicon-question-sign"></i>
                                </a>

                                <a class="input-group-addon" ng-click="removeOption($index)" ng-if="$index > 1"><i class="icon icon-remove"></i></a>
                            </div>

                            <div>
                                <input type="text" class="form-control" placeholder="{{'FORM-BUILDER.COMPONENT.ADD-OPTION' | translate}}" ng-model="newOption.name"
                                       ng-blur="confirmNewOption($event)" ng-keydown="optionKeyDown($event)">
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="activeTab.id == 'upload' && formElement.type === 'upload'">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="formElement.params.multiple">
                                {{'FORM-BUILDER.COMPONENT.UPLOAD-ALLOW-MULTIPLE' | translate}}
                            </label>
                        </div>
                    </div>
                </div>

                <div ng-if="activeTab.id == 'general' && formElement.type === 'readonly'">
                    <div class="form-group clearfix"> 
<!--                        ng-show="model.urlFieldType === 'formField'">-->
                            <div field-select="formElement.params.field" include-type="true" expand-relative="true" select-title="'PROPERTY.FIELD-SELECT.SELECT-FIELD'"
                                 all-steps="allSteps" step-id="stepId"
                                 field-type-filter="['text', 'integer', 'date', 'boolean', 'dropdown', 'radio-buttons', 'multi-line-text', 'people', 'functional-group', 'customers', 'upload']">
                            </div>
                    </div>
                    
                    
                    <div class="form-group clearfix">
                        <label translate="FORM-BUILDER.MESSAGE.VARIABLE-NAME"></label>
                        <input type="text" class="form-control" ng-model="formElement.params.field">
                    </div>
                </div>

                <div ng-if="activeTab.id == 'general' && formElement.type === 'readonly-text'">
                    <div class="form-group">
                        <label translate="FORM-BUILDER.COMPONENT.READONLY-TEXT"></label>
                        <textarea rows="3" ng-model="formElement.value" class="form-control" id="readonly-text-value" ng-trim="false"
                                  store-cursor-position="insertFormField.position"></textarea>
                        <div class="subtle" translate="FORM-BUILDER.MESSAGE.READONLY-TEXT-HELP" style="padding: 5px 0 5px 1px;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-default" ng-click="doneEditing()">
                        {{'GENERAL.ACTION.CLOSE' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
